<a href="https://colab.research.google.com/github/mcondemaita/Projects_python/blob/main/Stock_yahoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pip install pandas
% pip install numpy

import pandas as pd   # dataframe ( makes your data looks like excell)
import numpy as np  #  calculation 
import pandas_datareader as pdr #pandas dataframe to get stock data inport data API form yahoo 

import datetime # when working with dates

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [ ]:
#make it interative for user 

symbolA = input("Enter Symbol of Stock 1: ")
symbolB = input("Enter Symbol of Stock 2: ")

#user enters the start date of stock analysis 

date_entry = input('Enter a start date in YYYY-MM-DD format: ')
year, month, day = map(int, date_entry.split('-'))
start = datetime.date(year,month,day)

#User enters the end date of the stock analysis:  form yahoo 
date_entry = input('Enter a end date in YYYY-MM-DD Format: ')
year,month,day = map(int, date_entry.split('-'))
end = datetime.date(year,month,day)

Enter Symbol of Stock 1: TSLA
Enter Symbol of Stock 2: AAPL
Enter a start date in YYYY-MM-DD format: 2021-03-03
Enter a end date in YYYY-MM-DD Format: 2022-03-03

# New Section

# New Section

In [ ]:
#LOOK at date 
print(type(end))
print('start_date', start)
print('end_date', end)

print('symbolA', symbolA)
print('symbolB', symbolB)

<class 'datetime.date'>
start_date 2021-03-03
end_date 2022-03-03
symbolA TSLA
symbolB AAPL

In [ ]:
## Import data from Yahoo
## revuires 4 imputs (stock symbol, API, start and end)

TSLA= pdr.DataReader(symbolA, 'yahoo', start, end)
AAPL= pdr.DataReader(symbolB, 'yahoo', start, end)

In [ ]:
#Explore stocks

TSLA.head(7)  #first 7 items 
AAPL.tail(5)

                  High         Low  ...       Volume   Adj Close
Date                                ...
2020-11-24  115.849998  112.589996  ...  113874200.0  114.998154
2020-11-25  116.750000  115.169998  ...   76499200.0  115.856873
2020-11-27  117.489998  116.220001  ...   46691300.0  116.416031
2020-11-30  120.970001  116.809998  ...  169410200.0  118.872368
2020-12-01  123.470001  120.010002  ...  128166800.0  122.536896

[5 rows x 6 columns]

In [ ]:
#only keep columns that you want to analyze

TSLA_ = TSLA[['Adj Close','High' ]]
print(type(TSLA_))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
#are there any missing number 

TSLA_.isnull().sum()

Adj Close    0
High         0
dtype: int64

In [ ]:
###identify index and columns + rename a column 

TSLA_.index
TSLA_.columns

TSLA_.rename(columns={'Adj Close': 'Adj_Close', 'High': 'High_'}, inplace=True)
print(TSLA_.rename)

In [ ]:
TSLA_.head(7)

            Adj_Close      High_
Date
2019-12-12  71.935997  72.547997
2019-12-13  71.678001  73.042000
2019-12-16  76.300003  76.722000
2019-12-17  75.797997  77.099998
2019-12-18  78.629997  79.043999
2019-12-19  80.807999  81.370003
2019-12-20  81.117996  82.599998

In [ ]:
TSLA_.Adj_Close.max()
TSLA_.Adj_Close.min()
TSLA_.Adj_Close.mean()

248.7511830855389