<a href="https://colab.research.google.com/github/mcondemaita/Projects_python/blob/main/WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import modules and funtions
from bs4 import BeautifulSoup # This module helps in web Scrapping
import requests #this module helps us download a web page

Beautiful Soup is a Python library for pulling data out of HTML and XML files. We can navigate the HTML as a tree and/or filter out what we are looking for.

In [ ]:
%%html
<!DOCTYPE html>
<html>

<head>
<title> Page Title </title> 
</head>

<body>
<h3><b id= 'boldest'>Lebron James</b></h3> #head3 boldest for the found 
<p> Salary:$92,000,000 </p>

<h3>Stephen Curry</h3>
<p> Salary:$85,000,000 </p>

<h4>Maria C</h4>
<p> Salary:$75,000 </p>

</body>
</html>

In [ ]:
#We can store it as a string with a bariable HTML: 
html="<!DOCTYPE html><html><head><title> Page Title </title></head><body><h3><b id= 'boldest'>Lebron James</b></h3><p> Salary:$92,000,000 </p><h3>Stephen Curry</h3><p> Salary:$85,000,000 </p><h4>Maria C</h4><p>Salary:$75,000</p></body></html>"

In [ ]:
#To parse(examine de data) a document, pass into the beautifulSoup constructor, The BS object, wich represet a document as nested data structure 
soup = BeautifulSoup(html,"html.parser") 
#First, the document is converted to Unicode, (similar to ASCII), and HTML entities are converted to Unicode characters. Beautiful Soup transforms a complex HTML document into a complex tree of Python objects. The BeautifulSoup object can create other types of objects. In this lab, we will cover BeautifulSoup and Tag objects that for the purposes of this lab are identical, and NavigableString objects.
#We can use the method prettify() to display the HTML in the nested structure:
print(soup.prettify()) #tree nested structure

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary:$92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary:$85,000,000
  </p>
  <h4>
   Maria C
  </h4>
  <p>
   Salary:$75,000
  </p>
 </body>
</html>

#TAG

Let's say we want the title of the page and the name of the top paid player we can use the Tag. The Tag object corresponds to an HTML tag in the original document, for example, the tag title.

In [ ]:
#TAG
tag_object = soup.title
print("The Tag object is: ",tag_object)

print("The tag element is: ", type(tag_object()))

print("The tag object is: ", soup.h4) #if there is more than one tag with same name the 1st elemt Tag name is called

The Tag object is:  <title> Page Title </title>
The tag element is:  <class 'bs4.element.ResultSet'>
The tag object is:  <h4>Maria C</h4>

In [ ]:
#to perform Children, Parent & Sibilings tree structure we need to  sabe tag_object as value with SOUP.H4
tag_object = soup.h3
tag_object

Enclosed in the bold attribute <code>b</code>, it helps to use the tree representation. We can navigate down the tree using the child attribute to get the name.
â€‹
Children, Parents, and Siblings
As stated above the Tag object is a tree of objects we can access the child of the tag or navigate down the branch as follows:

In [ ]:
tag_child =tag_object.b
tag_child

parent_tag = tag_object.parent #to access the body elements 
parent_tag

In [ ]:
sibling_1 = tag_object.next_sibling
sibling_1 #got salari of id 1

In [ ]:
sibling_2 = sibling_1.next_sibling
sibling_2 #next line of tree data

In [ ]:
sibling_3 = sibling_2.next_sibling
sibling_3

HTML attributes
If the tag has attributes, the tag id="boldest" has an attribute id whose value is boldest. You can access a tagâ€™s attributes by treating the tag like a dictionary:

In [ ]:
tag_child["id"]

'boldest'

In [ ]:
#access the dictionary directly as attrs:
tag_child.attrs

{'id': 'boldest'}

In [ ]:
#Also obtain the content if the attribute of the tag using Python get() method
tag_child.get('id') #attributes 
tag_child

#Navigable String
A string corresponds to a bit of text or content within a tag. Beautiful Soup uses the NavigableString class to contain this text. In our HTML we can obtain the name of the first player by extracting the sting of the Tag object tag_child as follows:

In [ ]:
tag_string = tag_child.string
tag_string
#type(tag_string)

'Lebron James'

In [ ]:
#A NavigableString is just like a Python string or Unicode string, to be more precise. The main difference is that it also supports some BeautifulSoup features. We can covert it to sting object in Python:
uncode_string = str(tag_string)
uncode_string

'Lebron James'

##Filter 

Filters allow you to find complex patterns, the simplest filter is a string. In this section we will pass a string to a different filter method and Beautiful Soup will perform a match against that exact string. Consider the following HTML of rocket launchs:

In [ ]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [ ]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"
table_bs = BeautifulSoup(table, "html.parser") #parser (examine) the data
print(table_bs.prettify()) # in a tree data structure but this data is a table so should be store on a new variable table_rows

<table>
 <tr>
  <td id="flight">
   Flight No
  </td>
  <td>
   Launch site
  </td>
  <td>
   Payload mass
  </td>
 </tr>
 <tr>
  <td>
   1
  </td>
  <td>
   <a href="https://en.wikipedia.org/wiki/Florida">
    Florida
    <a>
    </a>
   </a>
  </td>
  <td>
   300 kg
  </td>
 </tr>
 <tr>
  <td>
   2
  </td>
  <td>
   <a href="https://en.wikipedia.org/wiki/Texas">
    Texas
   </a>
  </td>
  <td>
   94 kg
  </td>
 </tr>
 <tr>
  <td>
   3
  </td>
  <td>
   <a href="https://en.wikipedia.org/wiki/Florida">
    Florida
    <a>
    </a>
   </a>
  </td>
  <td>
   80 kg
  </td>
 </tr>
</table>

##Find All
The find_all() method looks through a tagâ€™s descendants and retrieves all descendants that match your filters.

The Method signature for find_all(name, attrs, recursive, string, limit, **kwargs

In [ ]:
#Find all methos looks through a tag's descendants and retrieves all descendants that mathch your filters
table_rows = table_bs.find_all('tr')
table_rows #The result is a Python Iterable just like a list, each element is a tag object:

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>]

####The result is a Python Iterable just like a list, each element is a tag object:

In [ ]:
first_row = table_rows[0] #tag of the table 
first_row

In [ ]:
#The type is tag
print(type(first_row))

<class 'bs4.element.Tag'>

In [ ]:
#Get the child
first_row.td

In [ ]:
##iterate through the list, each element correspond to a row in the table
for i, row in enumerate(table_rows):
  print("row", i, "is", row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>

As row is a cell object, we can apply the method **find_all** to it and extract table **cells** in the object cells using the tag **td**, this is all the children with the name td. The result is a list, each element corresponds to a cell and is a Tag object, we can iterate through this list as well. We can extract the content using the **string** attribute.

In [ ]:
for i, row in enumerate(table_rows):
  print("row", i)
  cells = row.find_all('td') #the row is a cell
  for j, cell in enumerate(cells):
    print("column",j, "cell",cell)

row 0
column 0 cell <td id="flight">Flight No</td>
column 1 cell <td>Launch site</td>
column 2 cell <td>Payload mass</td>
row 1
column 0 cell <td>1</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>
column 2 cell <td>300 kg</td>
row 2
column 0 cell <td>2</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
column 2 cell <td>94 kg</td>
row 3
column 0 cell <td>3</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>
column 2 cell <td>80 kg</td>

In [ ]:
#if we use a list we can match against any item intha list
list_input=table_bs.find_all(name=["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <td>80 kg</td>]

Attributes
If the argument is not recognized it will be turned into a filter on the tagâ€™s attributes. For example the id argument, Beautiful Soup will filter against each tagâ€™s id attribute. For example, the first td elements have a value of id of flight, therefore we can filter based on that id value.

In [ ]:
table_bs.find_all(id="flight")

In [ ]:
#find all the links that have links to Florida Wikipedia page
list_input = table_bs(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

If we set the  href attribute to True, regardless of what the value is, the code finds all tags with href value:

In [ ]:
list_input = table_bs(href=True)
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

In [ ]:
print("Sorry, I made a mistake")

Sorry, I made a mistake